* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 50%;
}

.accordion {
    margin: 20px 0px;
    user-select: none;
}

.accordion .heading {
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 50px;
    cursor: pointer;
}

.accordion .according-toggle {
    cursor: pointer;
    user-select: none;
}

.accordion .body {
    background-color: wheat;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.accordion .body.active {
    padding: 20px;
}